.formulario {
  display: flex;
  flex-direction: column;
  width: 250px;
  min-height: 100vh;
  box-shadow: 0 0 4px darkgrey;
}

.formulario form {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  padding: 10px;
  min-width: 250px;
}

.formulario select {
  margin-bottom: 10px;
}

.formulario textarea {
  height: 200px;
  margin: 10px 0 10px 0;
}

.formulario button {
  width: 50%;
  align-self: center;
  cursor: pointer;
}

.formulario button:active {
  background-color: darkgrey;
}